.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 2;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: var(--s-image-lightbox-bg-color);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slide > img {
  display: block;

  max-width: 100vw;
  max-height: 100vh;
}

.next,
.prev {
  z-index: 322;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
  font-size: 4rem;

  color: var(--s-link-color);

  border: 0;
  border-radius: 0.25rem;
  background: none;
  padding: 0 1.25rem;
}

.next:hover,
.prev:hover,
.close:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;

  font-size: 2rem;
  color: var(--s-link-color);
  cursor: pointer;

  border: 0;
  border-radius: 0.25rem;
  background: none;
  padding: 0.5rem 1rem;
}
