.card {
  position: relative;
  overflow: hidden;

  background-color: transparent;
  background-repeat: no-repeat;

  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 45%),
    0 0 0 1px rgb(10 10 10 / 1%);
}

.card > img {
  display: block;
  width: 100%;

  aspect-ratio: 5 / 7;
  object-fit: cover;
  object-position: center;
}
.card:hover > img,
.card:focus > img {
  filter: blur(1.1px);
  transform: scale(1.02);
}

.content {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  background-color: #030303;
  cursor: pointer;
  padding: 0;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img,
.content {
  transition: 0.25s ease-in-out;
}

.content {
  opacity: 0;
}

.content:hover,
.content:focus {
  opacity: 0.5;
}
