.card {
  position: relative;
  overflow: hidden;

  background-color: transparent;
  background-repeat: no-repeat;

  border: 0;
  padding: 0;

  box-shadow:
    0 0.5em 1em -0.125em rgb(10 10 10 / 45%),
    0 0 0 1px rgb(10 10 10 / 1%);
}
.card:hover {
  cursor: pointer;
}
.card:hover img,
.card:focus img {
  transform: scale(1.2);
  transition: 0.25s ease-in-out;
}
.card:hover .overlay,
.card:focus .overlay {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  color: white;
  font-size: 8rem;
  font-weight: 600;
}

.card img {
  display: block;
  width: 100%;

  aspect-ratio: 5 / 7;
  object-fit: cover;
  object-position: center;
}
